<style type="text/css">
    #Datmua a{
        clear: both;
        background-color:red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #Datmua a:hover {
            background-color:gray;
            color:red;
        }
</style>
@{
    ViewBag.Title = "Chitiethoa";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3>THÔNG TIN CHI TIẾT HOA</h3>
<div>
    <div style="width: 40%; float: left; border-left: dotted 1px; border-color: azure;">
        <img src="~/images/@Model.Anhbia" width="200">
    </div>
    <div style="width:60%; float:left;  padding:10px">
        <h4 style="font-weight:bold; color:red">Tên Hoa: @Model.TenHOA</h4>
        <p style="text-align:justify"><span style="font-weight:bold">Mô Tả: </span>@Model.Mota</p>
        <p style="font-weight:bold">Giá Bán:<span style="color:red; font-size:16pt">@Model.Giaban VNĐ</span></p>
    </div>
    <div>
        <div id="Datmua">
            <a href="@Url.Action("AddToCard", "ShoppingCard", new { id = @Model.MaHOA})" class="list-group-item">ĐẶT MUA</a>
        </div>
    </div>
</div>